body {
    position: relative;
    font-family: 'Righteous';
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

footer {
    background: #3a67b1;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.vision_mission_value {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.vision, .mission, .value {
    position: relative;
    width: 25%;
    min-width: 200px;
    margin: 20px 30px;
}

.vision img, .mission img , .value img {
    width: 95%;
    height: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.vision .icon, .mission .icon , .value .icon {
    z-index: 1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    height: 5%;
}

.vision_background, .value_background {
    position: relative;
    top: -20px;
    z-index: -10;
    background: #56BDA3;
    border: 12.5085px solid #2A9673;
}

.mission_background {
    position: relative;
    top: -20px;
    z-index: -10;
    background: #6F91C9;
    border: 12.5085px solid #3A67B1;
}

.vision_background h2, .value_background h2 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(180deg, #9AD7C8 53.26%, #00A077 53.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    /*  text-shadow: 0px 5.83728px 3.33559px rgba(0, 0, 0, 0.25); */
}
.mission_background h2 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(180deg, #B1C6E8 53.26%, #4972B4 53.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.vision_background p, .mission_background p {
    font-size: 20px;
    text-align: justify;
    color: #FFFFFF;
    margin: 20px 20px;
}

.value_background ul {
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 20px;
}